In [ ]:
# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key
from api_keys import g_key
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
Vac_df = pd.read_csv('../output_data/City_Data.csv')
Vac_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,bukachacha,52.98,116.92,287.18,55,59,4.95,RU,1595288147
1,puerto ayora,-0.74,-90.35,294.26,85,94,2.68,EC,1595287989
2,chokurdakh,70.63,147.92,299.06,38,76,6.44,RU,1595288147
3,banda aceh,5.56,95.32,299.74,78,93,1.32,ID,1595288147
4,sompeta,18.93,84.60,301.12,82,100,6.12,IN,1595288147
...,...,...,...,...,...,...,...,...,...
564,yerofey pavlovich,53.97,121.97,285.85,85,51,2.09,RU,1595288202
565,arenapolis,-14.45,-56.85,297.35,41,27,1.91,BR,1595288119
566,concepcion del oro,24.63,-101.42,294.47,44,89,0.79,MX,1595288202
567,rio grande,-32.03,-52.10,293.71,76,96,3.59,BR,1595287941
568,vichy,46.25,3.58,295.37,68,3,1.55,FR,1595288203

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
locations = Vac_df[["Lat", "Lng"]]
humidity = Vac_df["Humidity"]

In [4]:
fig = gmaps.Map()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=300, point_radius=5)


# # Add layer
fig.add_layer(heat_layer)

# # Display figure
fig

Map(configuration={'api_key': 'AIzaSyDwCID1895E1nFEOWZjwHVmKZWlSjigHcU'}, data_bounds=[(-45.92532016235929, -1…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
Weather_DF = Vac_df 
Weather_DF

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,bukachacha,52.98,116.92,287.18,55,59,4.95,RU,1595288147
1,puerto ayora,-0.74,-90.35,294.26,85,94,2.68,EC,1595287989
2,chokurdakh,70.63,147.92,299.06,38,76,6.44,RU,1595288147
3,banda aceh,5.56,95.32,299.74,78,93,1.32,ID,1595288147
4,sompeta,18.93,84.60,301.12,82,100,6.12,IN,1595288147
...,...,...,...,...,...,...,...,...,...
564,yerofey pavlovich,53.97,121.97,285.85,85,51,2.09,RU,1595288202
565,arenapolis,-14.45,-56.85,297.35,41,27,1.91,BR,1595288119
566,concepcion del oro,24.63,-101.42,294.47,44,89,0.79,MX,1595288202
567,rio grande,-32.03,-52.10,293.71,76,96,3.59,BR,1595287941
568,vichy,46.25,3.58,295.37,68,3,1.55,FR,1595288203

In [6]:

Weather_DF.drop(Weather_DF[Weather_DF['Max Temp'] > 280].index, inplace = True) 

Weather_DF.drop(Weather_DF[Weather_DF['Max Temp'] < 270].index, inplace = True)

Weather_DF.drop(Weather_DF[Weather_DF['Cloudiness'] == 0].index, inplace = True)

Weather_DF.drop(Weather_DF[Weather_DF['Wind Speed'] > 5].index, inplace = True)

Weather_DF.dropna()
Weather_DF

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
33,punta arenas,-53.15,-70.92,272.15,92,90,2.60,CL,1595287985
47,ushuaia,-54.80,-68.30,271.15,92,2,2.10,AR,1595287899
80,tuktoyaktuk,69.45,-133.04,279.15,81,90,4.10,CA,1595288155
193,coihaique,-45.58,-72.07,274.15,86,90,1.50,CL,1595288166
238,barrow,71.29,-156.79,275.15,74,75,3.10,US,1595288170
279,comodoro rivadavia,-45.87,-67.50,278.15,86,90,4.60,AR,1595288174
540,aasiaat,68.71,-52.87,279.68,77,100,2.34,GL,1595288200

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
hotel_df = Weather_DF
hotel_df['Hotel Name'] = ''
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
33,punta arenas,-53.15,-70.92,272.15,92,90,2.60,CL,1595287985,
47,ushuaia,-54.80,-68.30,271.15,92,2,2.10,AR,1595287899,
80,tuktoyaktuk,69.45,-133.04,279.15,81,90,4.10,CA,1595288155,
193,coihaique,-45.58,-72.07,274.15,86,90,1.50,CL,1595288166,
238,barrow,71.29,-156.79,275.15,74,75,3.10,US,1595288170,
279,comodoro rivadavia,-45.87,-67.50,278.15,86,90,4.60,AR,1595288174,
540,aasiaat,68.71,-52.87,279.68,77,100,2.34,GL,1595288200,

In [8]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
hotels = []

# use iterrows to iterate through pandas dataframe
for i, row in hotel_df.iterrows():
    location = str(row['Lat']) + ',' + str(row['Lng'])
    params = {
    "location": location,  # philadelphia coords,
    "type": "restaurant",
    "radius": 5000,
    "key": g_key,
    }
    response = requests.get(base_url, params=params).json()
    results = response['results']

#     
    try:
        hotels.append(results[0]['name'])
#         hotel_df.insert(loc = i, column = 'Hotel Name', value = results[0]['name'],allow_duplicates=False)
            
    except (KeyError, IndexError):
        hotels.append(" ")
        
hotels

['Yellow Submarine',
 'Hotel Cap Polonio',
 ' ',
 'El Reloj Hotel',
 'Northern Lights Restaurant',
 'Lucania Palazzo Hotel',
 'ป้ายร้าน']

In [9]:
hotel_series = pd.DataFrame(hotels, columns = ['Name'])
hotel_series

                         Name
0            Yellow Submarine
1           Hotel Cap Polonio
2
3              El Reloj Hotel
4  Northern Lights Restaurant
5       Lucania Palazzo Hotel
6                    ป้ายร้าน

In [10]:
hotel_df.reset_index(drop = True, inplace = True)
hotel_df["Hotel Name"] = hotel_series["Name"]
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,punta arenas,-53.15,-70.92,272.15,92,90,2.60,CL,1595287985,Yellow Submarine
1,ushuaia,-54.80,-68.30,271.15,92,2,2.10,AR,1595287899,Hotel Cap Polonio
2,tuktoyaktuk,69.45,-133.04,279.15,81,90,4.10,CA,1595288155,
3,coihaique,-45.58,-72.07,274.15,86,90,1.50,CL,1595288166,El Reloj Hotel
4,barrow,71.29,-156.79,275.15,74,75,3.10,US,1595288170,Northern Lights Restaurant
5,comodoro rivadavia,-45.87,-67.50,278.15,86,90,4.60,AR,1595288174,Lucania Palazzo Hotel
6,aasiaat,68.71,-52.87,279.68,77,100,2.34,GL,1595288200,ป้ายร้าน

In [11]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [12]:
# Add marker layer ontop of heat map

marker = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker)
fig
# Display figure

Map(configuration={'api_key': 'AIzaSyDwCID1895E1nFEOWZjwHVmKZWlSjigHcU'}, data_bounds=[(-85.0, -179.99999), (8…